div.ui-block-a, div.ui-block-b, div.ui-block-c {
padding-bottom:15px;
padding-left: 10px;
}


#cta {
	margin: 0px;
	margin-bottom: -4px;
	padding: 0px;
}

#home .ui-grid-b div img{
	width: 70px;
	height: 70px;
}