/* 
Angela Koepplinger
MIU: Term 1210;
Project 3: Bronze App
Date: 10/08/12
*/

div.ui-block-a, div.ui-block-b, div.ui-block-c {
padding-bottom:15px;
padding-left: 10px;
margin-top: 5px;
}


#cta {
	margin: 0px;
	margin-bottom: -4px;
	padding: 0px;
}

#home .ui-grid-b div img{
	width: 65px;
	height: 65px;
}